/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* Root */
:root {
  --grey: #aaaaaa;
  --grey-light: #dedede;
  --grey-hover: #efefef;
  --blue: #598bdd;
  --blue-dark: #4a82f1;
}

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET CSS */

/* TYPOGRAPHY */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  padding: 32px;
  font-weight: 500;
}

/* LAYOUT */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 100vw;

  background-image: url("/images/background.jpg");
  background-position: top center;
  background-size: 100%;
  background-repeat: repeat-y;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;

  width: 50%;
  min-width: 320px;
  max-width: 600px;

  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 15px var(--grey);
}

.payment__steps {
  display: flex;
  column-gap: 8px;
  font-size: 8px;
  padding-top: 24px;
  border-radius: 8px 8px 0 0;
}

.step__on {
  color: var(--grey);
}

.step__off {
  color: var(--grey-light);
}

.payment__methods {
  width: 100%;
}

.payment__method {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 16px;
  width: 100%;
  border-top: 1px solid var(--grey);

  color: var(--grey);
  font-weight: 500;

  cursor: pointer;

  position: relative;
}

.payment__method:hover {
  background-color: var(--grey-hover);
}

.payment__method img {
  height: 32px;
}

.payment__method img:nth-of-type(2) {
  opacity: 0;
}

.payment__method--checked {
  color: black;
}

.payment__method--checked img:nth-of-type(2) {
  opacity: 1;
  height: 24px;
  position: absolute;
  right: 16px;
}

.payment__next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 100%;
  cursor: pointer;
  color: white;
  font-weight: 500;
  border-radius: 0 0 8px 8px;
  background-color: var(--blue);
}

.payment__next:hover {
  background-color: var(--blue-dark);
}
.payment__next:active {
  transform: translateY(2px);
}

.payment__next img {
  height: 16px;
}

/* FOOTER */
.referal {
  position: fixed;
  bottom: 0;
}

.referal img {
  width: 50px;
  filter: drop-shadow(0 0 5px #fff);
}
